.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.47);
  border-radius: 5px;
  padding: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cardHeaderTitle {
  font-weight: 700;
  font-size: 1.3rem;
}

.information {
  display: flex;
  justify-content: space-between;
}

.informationColumn {

}

.informationRow {
  margin-bottom: 10px;
}

.informationRowTitle {
  color: rgba(0, 0, 0, 0.39);
  margin-bottom: 5px;
}

.informationRowDescription {

}
