.button {
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  padding: 7.5px 10px;
  display: flex;
  align-items: center;
}

.buttonText {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
